.blogbody {
}

/* Header */
.bloghead {
    position: relative;
    /*padding: 2rem 1rem;*/
    font-weight: 200;
    color: #333;
    text-align: left;;
    /*text-shadow: 0 1px 0 rgba(0,0,0,.1);*/
    background-color: #fff;
    max-width: 650px;
    width: 90%;
    margin: 30px auto;
  /*background-color: #6f5499;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
  background-image: -webkit-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image:      -o-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image:         linear-gradient(to bottom, #563d7c 0%, #6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;*/
}

.authorheader {
    text-align: left;
}

.blogtitle {
  font-weight: 400;
  color: #000;
  margin-top: 0;
  margin-bottom: 1rem;
  /*font-size: 18px;*/
  font-family: "Microsoft YaHei", courier;
  display: inline-block;
}

.blogtitle h1 {
    margin-top: 10px;
}

.bloghead p {
    font-weight: 400;
}

.bloghead img , .authorimage img{
    height: 85px;
    padding: 10px;
    vertical-align: top;
    margin-right: 10px;
}

nav {
  border-bottom: 1px solid #ecf0f1;
  border-top: 1px solid #ecf0f1;
  margin-bottom: 2em;
  text-align: center;
  max-width: 650px;
  /*margin: 20px auto 2em auto;*/
}

nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

nav ul li {
  display: inline-block;
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding: 0 .5em;
  text-align: center;
  /*text-transform: uppercase;*/
}

nav ul li a {
  display: block;
  padding: .5em 0;
  color: #3498db;
}

nav.menu {
  margin-bottom: 2.5em;
}

nav.menu li {
  margin: 0 .5em;
  padding: 0;
}

nav.menu li:last-child {
  margin: 0;
}

/****
 * Main body
 */

.blogmain {
    max-width: 750px;
    width: 90%;
    margin: 20px auto;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 15px;
    line-height: 1.8em;
}

article.preview {
    margin-bottom: 4em;
}

.post-title {
    text-align: left;
}

.post-section {
    font-size: 15px;
}

.post-time {
    color: #95a5a6;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 1em;
}

p.readmore {
    color: #337ab7;
    margin-top: 1em;
    text-align: right;
}

/**
 * 文章全文
 */

blockquote {
     font-size: 15px;
 }

.article-title {
    text-align: center;
}

.article-time {
    color: #95a5a6;
    font-family: "Microsoft YaHei", sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}

.article-hint {
    color: #95a5a6;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: inset;
}

.article-footer {
    background-color: transparent;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    /*
    border-top: 1px solid #ecf0f1;*/
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(236, 240, 241);
    margin-top: 40px;
    margin-bottom: 40px;
}

section.author, section.share {
    width: 100%;
    text-align: left;
    text-transform: none;
    margin-top: 20px;
    font-size: 12px;
}

div.authorimage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
    margin-right: 20px;
    float: left;
}

.smenu {
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    /*margin-left: 50px;*/
}

.footer-copyright {
    padding: 30px 0;
    text-align: center;
    color: #f0f0f0;
    background-color: #575757;
    background-color: rgba(51, 123, 181, 0.6);
    font-family: sans-serif;
    margin-top: 40px;
}
.pull-right {
    float: right;
}
.wrapper  {
    background-color:  #fff;
    margin:  10px 0px 50px 0px;
    padding:  10px 0px;
}


pre code{margin:1em 0;line-height:1.6;display:block;overflow:auto;}
code{font-family:"Courier New","Microsoft YaHei",Consolas,monospace;font-size:14px;padding:0px 6px;}
pre {
    display: block;
    padding: 8px;  
    background-color: #f7f7f9;
    margin: 0 0 30px;
    line-height: 10px;
    border: 1px solid #e1e1e8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #555;
    margin: 0;
    text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    color: #CED1D1;
}
h1 {
    line-height: 60px;
    color:	##000;
    font-size: 24px;
    font-weight: bold;
}
h1 small {
    font-size: 16px;;
}
h2 {
    color:  #777;
    margin:  20px 0px;
    font-weight: bold;
    font-size:  19px;
    text-align: left;
    line-height:  35px;
}
h2 small {
    font-size: 17px;
}
h3 {
    line-height: 17px;
    font-size: 17px;
    font-weight: bold;
    padding: 10px 30px;
}
h3 small {
    font-size: 14px;
}
h4, h5, h6 {
    line-height: 15px;
}
h4 {
    font-size: 14px;
}
h4 small {
    font-size: 12px;
}


table
    {
    border-collapse: collapse;
    border-spacing: 0; /* IE 6 */
 
    border-bottom: 2pt solid #000;
    border-top: 2pt solid #000; /* The caption on top will not have a bottom-border */
 
    /* Center */
    margin-left: auto;
    margin-right: auto;
    }
    
thead /* Entire table header */
    {
    border-bottom: 1pt solid #000;
    background-color: #eee; /* Does this BG print well? */
    }
 
tr.header /* Each header row */
    {
    } 
 
tbody /* Entire table  body */
    {
    }
 
/* Table body rows */
 
tr  {
    }
tr.odd:hover, tr.even:hover /* Use .odd and .even classes to avoid styling rows in other tables */
    {
    background-color: #eee;
    }
    
/* Odd and even rows */
tr.odd {}
tr.even {}
 
td, th /* Table cells and table header cells */
    { 
    vertical-align: top; /* Word */
    vertical-align: baseline; /* Others */
    padding-left:   0.5em;
    padding-right:  0.5em;
    padding-top:    0.2em;
    padding-bottom: 0.2em;
    }
    
/* Removes padding on left and right of table for a tight look. Good if thead has no background color*/
/*
tr td:last-child, tr th:last-child
    {
    padding-right: 0;
    }
tr td:first-child, tr th:first-child 
    {
    padding-left: 0;
    }
*/
 
th /* Table header cells */
    {
    font-weight: bold; 
    }
 
tfoot /* Table footer (what appears here if caption is on top?) */
    {
    }
 
caption /* This is for a table caption tag, not the p.caption Pandoc uses in a div.figure */
    {
    caption-side: top;
    border: none;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    margin-bottom: 0.3em; /* Good for when on top */
    padding-bottom: 0.2em;
    }
 



