<!DOCTYPE html>
<html lang="zh-CN">
    {% include head.html %}
    <body>
        {% include blog_header.html %}
	{% include math.html %}
        <main class="blogmain">
            <header>
                <h1 class="article-title">{{ page.title }}</h1>
                <p class="article-time">
                    {{ page.time }},  author by <span>{{ page.author }}</span>
                </p>
            </header>
            {{ content }}
            {% include post_footer.html %}
        </main>

        {% include footer.html %}
    </body>

</html>
